<h1><%=@user.username%>'s List of Exercise Records</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<div style="font-family:helvetica;">
<p> Here are the days you exercised. <br>
To view an exercise record, click on the name.</p>
<table>
  <tr>
    <th>Date</th>
    <th>Exercise Name</th>
  </tr>
    <% @user.exercises.each do |exercise| %>
    <tr>
      <th><%= exercise.date %></th>
      <th><a href="/exercises/<%=exercise.id%>"><%= exercise.name %></a></th>
    </tr>
    <%end%>
  </table>
  <p>To create a new exercise record, <a href="/exercises/new">click here.</a><br>
  To view all of the exercises recorded today, <a href="/exercises">click here.</a><br>
  To log out, <a href="/logout">click here.</a></p>
</div>
