<h1><%=@user.name%>'s List of Exercise Records</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div>

<div style="font-family:helvetica;">
<p>To view an exercise record, click on the name.</p>

<table>
  <tr>
    <th>Date</th>
    <th>Exercise Name</th>
  </tr>
    <% @user.exercises.each do |exercise| %>
    <tr>
      <td align="center"><%= exercise.date %></td>
      <td align="center"><a href="/exercises/<%=exercise.id%>"><%= exercise.name %></a></td>
    </tr>
    <%end%>
  </table>

<p>To create a new exercise record, <a href="/exercises/new">click here.</a><br><br>
To view all of the exercises recorded today, <a href="/exercises">click here.</a><br><br>
To log out, <a href="/logout">click here.</a></p>
</div>
