<p> Here is a list of exercises you've recorded so far, <%= @user.username %></p>
<% @user.exercises.each do |exercise| %>
    <li><a href="/exercises/<%=exercise.id%>"><%= exercise.date %> <%= exercise.name %> <%= exercise.minutes %> minutes.</a></li>
<%end%>
  <p>To create a new exercise record, click here.<br>
  To view all of the exercises recorded today, click here.<br>
  To log out, click here.</p>
