<h1 style="font-family:impact;">Exercise Record</h1>
<div style="font-family:helvetica;">
  <table border="1">
    <tr>
      <th>Date</th>
      <th>Exercise Name</th>
      <th>Duration</th>
    </tr>
    <tr>
      <td align="center"><%= @exercise.date %></td>
      <td align="center"><%= @exercise.name %></td>
      <td align="center"><%= @exercise.minutes %> minutes</td>
    </tr>
  </table>
  <br><br>

<a href="/exercises/<%=@exercise.id%>/edit">Click here</a> to edit this exercise record.<br><br>
<a href="/users/<%=current_user.username%>">Click here</a> to go back to your list of exercise records.<br><br>
<form action="/exercises/<%=@exercise.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Exercise Record">
</form>
</div>
